.category {
  height: 32px;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 6px 10px;
  border-radius: 30px;
  width: max-content;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
