.error-color{
  color: red !important;
}
.validated{
  color: #14D81C;
}
#birthday {
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  background-color: #fff;
}

